DYNECHO_AUTH_USERNAME=consultant
DYNECHO_AUTH_PASSWORD=change-me
DYNECHO_AUTH_SECRET=replace-with-a-long-random-secret
DYNECHO_AUTH_SESSION_TTL_HOURS=12
DYNECHO_PROJECT_STORE_DIR=.dynecho/project-store
